---
---
@import "{{ site.theme }}";

body {
    background-color: #ffffff !important;
    color: #333333 !important;
}

.page-header {
    background-color: #ffffff !important;
    background-image: none !important;
    color: #333333 !important;
    border-bottom: 1px solid #eeeeee;
}

.page-header .project-name, .page-header .project-tagline {
    color: #333333 !important;
}

.btn {
    color: #333333 !important;
    border-color: #333333 !important;
}
